[submodule "source/cpp_utils"]
	path = source/cpp_utils
	url = https://github.com/VladasZ/cpp_utils.git
[submodule "source/ui"]
	path = source/ui
	url = https://github.com/VladasZ/ui.git
[submodule "build_tools"]
	path = build_tools
	url = https://github.com/VladasZ/build_tools.git
[submodule "source/scene"]
	path = source/scene
	url = https://github.com/VladasZ/scene.git
