[submodule "source/cpp_utils"]
	path = source/cpp_utils
	url = https://github.com/VladasZ/cpp_utils.git
[submodule "utils"]
	path = utils
	url = https://github.com/VladasZ/utils.git
[submodule "source/ui"]
	path = source/ui
	url = https://github.com/VladasZ/ui.git
